# Import Libraries

In [168]:
import pandas as pd
import numpy as np
import scipy as sc
import os
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string
import math

# Load Dataset
- 30 is considered as test dataset
- 70 is considered as train dataset

In [169]:
raw_account_70_new=pd.read_csv("./test_data/raw_account_70_new.csv",low_memory=False)
raw_account_30_new=pd.read_csv("./test_data/raw_account_30_new.csv",low_memory=False)
raw_data_70_new=pd.read_csv("./test_data/raw_data_70_new.csv",low_memory=False)
raw_data_30_new=pd.read_csv("./test_data/raw_data_30_new.csv",low_memory=False)
raw_enquiry_70_new=pd.read_csv("./test_data/raw_enquiry_70_new.csv",low_memory=False)
raw_enquiry_30_new=pd.read_csv("./test_data/raw_enquiry_30_new.csv",low_memory=False)

**Shape of datasets**

- raw_account_70_new:(186329, 21)
- raw_account_30_new: (79568, 21)
- raw_data_70_new: (23896, 83)
- raw_data_30_new: (10240, 83)
- raw_enquiry_70_new: (413188, 6)
- raw_enquiry_30_new: (173499, 6)

# Percentage of target

In [193]:
raw_data_70_new.Bad_label.value_counts(normalize=True)

0    0.957985
1    0.042015
Name: Bad_label, dtype: float64

In [194]:
raw_data_30_new.Bad_label.value_counts(normalize=True)

0    0.954883
1    0.045117
Name: Bad_label, dtype: float64

# Feature Creation

In [173]:
raw_account_70_new['ind_acc_70']=1
raw_account_30_new['ind_acc_30']=1
raw_enquiry_70_new['ind_enq_70']=1
raw_enquiry_30_new['ind_enq_30']=1

In [174]:
#Creating unified payment history
raw_account_70_new['paymenthistory_un']=[raw_account_70_new.paymenthistory1[i].split('"')[3]+raw_account_70_new.paymenthistory2[i].split('"')[3] if raw_account_70_new.paymenthistory2[i]==raw_account_70_new.paymenthistory2[i] else raw_account_70_new.paymenthistory1[i].split('"')[3] for i in range(len(raw_account_70_new))]
raw_account_30_new['paymenthistory_un']=[raw_account_30_new.paymenthistory1[i].split('"')[3]+raw_account_30_new.paymenthistory2[i].split('"')[3] if raw_account_30_new.paymenthistory2[i]==raw_account_30_new.paymenthistory2[i] else raw_account_30_new.paymenthistory1[i].split('"')[3] for i in range(len(raw_account_30_new))]

In [175]:
raw_account_70_new.head(10)

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,ind,paymenthistory_un
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900.0,...,NaN,01-Sep-15,01-Jul-14,NaN,NaN,NaN,NaN,NaN,1,STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXSTD
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,NaN,03-Oct-15,16201.0,...,"""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000.0,1400.0,NaN,3.0,5603.0,1,0000000000000000000000000000000000000000000000...
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,NaN,30-Sep-15,41028.0,...,"""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,NaN,NaN,NaN,NaN,NaN,1,0000000000000000000000000000000000000000000000...
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,NaN,26-Jul-07,31-Jan-09,93473.0,...,NaN,01-Jul-07,01-Feb-06,NaN,NaN,NaN,NaN,NaN,1,1200900600600600300000000000000000000000000000...
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,NaN,31-May-15,20250.0,...,NaN,01-May-15,01-Jan-15,NaN,NaN,NaN,NaN,NaN,1,000000000000000
5,20-Jul-15,15606,09-Jul-15,6,1,14-Jan-15,02-May-15,NaN,31-May-15,20000.0,...,NaN,01-May-15,01-Jan-15,NaN,NaN,NaN,NaN,NaN,1,000000000000000
6,20-Jul-15,15606,09-Jul-15,6,1,29-Dec-14,02-May-15,NaN,31-May-15,25100.0,...,NaN,01-May-15,01-Dec-14,NaN,NaN,NaN,NaN,NaN,1,000000000000000000
7,20-Jul-15,15606,09-Jul-15,6,1,22-Oct-14,02-May-15,NaN,31-May-15,16690.0,...,NaN,01-May-15,01-Oct-14,NaN,NaN,NaN,NaN,NaN,1,000000000000000000000000
8,20-Jul-15,15606,09-Jul-15,10,1,04-Dec-12,08-May-15,NaN,31-May-15,140160.0,...,"""""""000000000000000000000000000000000000""""""",01-May-15,01-Dec-12,140000.0,NaN,39.0,NaN,6516.0,1,0000000000000000000000000000000000000000000000...
9,20-Jul-15,15606,09-Jul-15,10,1,01-Aug-12,21-May-15,NaN,26-Jun-15,NaN,...,"""""""030000000000XXX000000000000000000000000XXX0...",01-Jun-15,01-Aug-12,NaN,NaN,NaN,3.0,NaN,1,000000000XXX000000000000030XXX0000000000000000...

In [176]:
#payment_history_avg_dpd_0_29_bucket
def find_g(lst, a):
    '''Function to find index of elements in list greater than a'''
    return [i for i, x in enumerate(lst) if x >=a]
def payment_break(lst):
    condition_list=[]
    len_str_list=[]
    for i in range(len(lst)):
        if isinstance(lst[i], str)==False:
            element_append=None
            len_str=0
        else:
            str_list=list(re.findall('.{1,3}', lst[i]))
            len_str=len(str_list)
            lst_int=list(filter(lambda a: a not in ['STD','SMA','SUB','DBT','LSS','XXX'], str_list))
            lst_int=[int(i) for i in lst_int]
            if len(lst_int)!=0:
                if len(find_g(lst_int,30))>0:
                    element_append=0
                else:
                    element_append=1
            else:
                element_append=None
        condition_list.append(element_append)
        len_str_list.append(len_str)
    return condition_list,len_str_list

raw_account_70_new['payment_history_un_dpd_0_29_bucket'],raw_account_70_new['payment_history_un_len']=payment_break(lst=raw_account_70_new.paymenthistory_un)
raw_account_30_new['payment_history_un_dpd_0_29_bucket'],raw_account_30_new['payment_history_un_len']=payment_break(lst=raw_account_30_new.paymenthistory_un)
#Group by customer number in accounts dataset
raw_account_70_new_cust_count=pd.DataFrame(raw_account_70_new.groupby(['customer_no'] ,as_index=False,sort=False)[['ind_acc_70','payment_history_un_dpd_0_29_bucket','payment_history_un_len']].sum())
raw_account_70_new_cust_count['rt_pay30_sum']=raw_account_70_new_cust_count['payment_history_un_dpd_0_29_bucket']/raw_account_70_new_cust_count['ind_acc_70']
raw_account_70_new_cust_count['payment_history_mean_length']=raw_account_70_new_cust_count['payment_history_un_len']/raw_account_70_new_cust_count['ind_acc_70']

raw_account_30_new_cust_count=pd.DataFrame(raw_account_30_new.groupby(['customer_no'] ,as_index=False,sort=False)[['ind_acc_30','payment_history_un_dpd_0_29_bucket','payment_history_un_len']].sum())
raw_account_30_new_cust_count['rt_pay30_sum']=raw_account_30_new_cust_count['payment_history_un_dpd_0_29_bucket']/raw_account_30_new_cust_count['ind_acc_30']
raw_account_30_new_cust_count['payment_history_mean_length']=raw_account_30_new_cust_count['payment_history_un_len']/raw_account_30_new_cust_count['ind_acc_30']



#Merge to demographic data
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_new_cust_count.loc[:,['customer_no','ind_acc_70','rt_pay30_sum','payment_history_mean_length']],how='left',on='customer_no')
raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_new_cust_count.loc[:,['customer_no','ind_acc_30','rt_pay30_sum','payment_history_mean_length']],how='left',on='customer_no')

In [177]:
#min_months_last_30_plus 
def find_r(lst,a):
    '''Function to find index of elements in list greater than a'''
    return [i for i, x in enumerate(lst) if x>a ]
def min_month_30(lst):
    first_30p_list=[]
    tot_30p_list=[]
    for i in range(len(lst)):
        str_list=list(re.findall('.{1,3}', lst[i]))
        str_list_upd=[int(element) if element not in ['STD','SMA','SUB','DBT','LSS','XXX'] else -999 for element in str_list]
        tot_mon_30p=len(find_r(lst=str_list_upd,a=30))
        if tot_mon_30p>0:
            num_mon_30p=max(find_r(lst=str_list_upd,a=30))+1
        else:
            num_mon_30p=-999
        if  num_mon_30p != -999:
            first_30p=len(str_list_upd)-num_mon_30p
        else:
            first_30p=9999
        first_30p_list.append(first_30p)
        tot_30p_list.append(tot_mon_30p)
    return first_30p_list,tot_30p_list
raw_account_70_new['months_last_30_plus'],raw_account_70_new['months_total_30_plus']=min_month_30(lst=raw_account_70_new.paymenthistory_un)
raw_account_30_new['months_last_30_plus'],raw_account_30_new['months_total_30_plus']=min_month_30(lst=raw_account_30_new.paymenthistory_un)
#group by getting minimum on each account
raw_account_70_min_mon=pd.DataFrame(raw_account_70_new.groupby(['customer_no'] ,as_index=False,sort=False)[['months_last_30_plus']].min())
raw_account_70_tot_mon=pd.DataFrame(raw_account_70_new.groupby(['customer_no'] ,as_index=False,sort=False)[['ind_acc_70','months_total_30_plus']].sum())
raw_account_70_tot_mon['mean_mon_30p']=raw_account_70_tot_mon['months_total_30_plus']/raw_account_70_tot_mon['ind_acc_70']

raw_account_30_min_mon=pd.DataFrame(raw_account_30_new.groupby(['customer_no'] ,as_index=False,sort=False)[['months_last_30_plus']].min())
raw_account_30_tot_mon=pd.DataFrame(raw_account_30_new.groupby(['customer_no'] ,as_index=False,sort=False)[['ind_acc_30','months_total_30_plus']].sum())
raw_account_30_tot_mon['mean_mon_30p']=raw_account_30_tot_mon['months_total_30_plus']/raw_account_30_tot_mon['ind_acc_30']

# Merge with data
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_min_mon.loc[:,['customer_no','months_last_30_plus']],how='left',on='customer_no')
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_tot_mon.loc[:,['customer_no','mean_mon_30p']],how='left',on='customer_no')

raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_min_mon.loc[:,['customer_no','months_last_30_plus']],how='left',on='customer_no')
raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_tot_mon.loc[:,['customer_no','mean_mon_30p']],how='left',on='customer_no')

In [178]:
#Average and maximum current age in all accounts
def current_age(lst,method):
    curr_age=[]
    for i in range(len(lst)):
        str_list=list(re.findall('.{1,3}', lst[i]))
        if method=="average":
            str_list_upd=[int(element) if element not in ['STD','SMA','SUB','DBT','LSS','XXX'] else None for element in str_list]
        else:
            str_list_upd=[int(element) if element not in ['STD','SMA','SUB','DBT','LSS','XXX'] else -999 for element in str_list]
        curr_age.append(str_list_upd[0])
    return curr_age
raw_account_70_new['current_age_max']=current_age(lst=raw_account_70_new.paymenthistory_un,method="max")
raw_account_70_new['current_age_average']=current_age(lst=raw_account_70_new.paymenthistory_un,method="average")
raw_account_30_new['current_age_max']=current_age(lst=raw_account_30_new.paymenthistory_un,method="max")
raw_account_30_new['current_age_average']=current_age(lst=raw_account_30_new.paymenthistory_un,method="average")

#group by
raw_account_70_curr_avg=pd.DataFrame(raw_account_70_new.groupby(['customer_no'] ,as_index=False,sort=False)[['current_age_average','ind_acc_70']].sum())
raw_account_70_curr_avg['current_age_average_r']=raw_account_70_curr_avg.current_age_average/raw_account_70_curr_avg.ind_acc_70
raw_account_70_curr_max=pd.DataFrame(raw_account_70_new.groupby(['customer_no'] ,as_index=False,sort=False)[['current_age_max']].max())

raw_account_30_curr_avg=pd.DataFrame(raw_account_30_new.groupby(['customer_no'] ,as_index=False,sort=False)[['current_age_average','ind_acc_30']].sum())
raw_account_30_curr_avg['current_age_average_r']=raw_account_30_curr_avg.current_age_average/raw_account_30_curr_avg.ind_acc_30
raw_account_30_curr_max=pd.DataFrame(raw_account_30_new.groupby(['customer_no'] ,as_index=False,sort=False)[['current_age_max']].max())

#merge
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_curr_avg.loc[:,['customer_no','current_age_average_r']],how='left',on='customer_no')
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_curr_max.loc[:,['customer_no','current_age_max']],how='left',on='customer_no')

raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_curr_avg.loc[:,['customer_no','current_age_average_r']],how='left',on='customer_no')
raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_curr_max.loc[:,['customer_no','current_age_max']],how='left',on='customer_no')

In [185]:
#total_diff_lastpaymt_opened_dt
raw_account_70_new.opened_dt=pd.to_datetime(raw_account_70_new.opened_dt)
raw_account_70_new.last_paymt_dt=pd.to_datetime(raw_account_70_new.last_paymt_dt)
raw_account_30_new.opened_dt=pd.to_datetime(raw_account_30_new.opened_dt)
raw_account_30_new.last_paymt_dt=pd.to_datetime(raw_account_30_new.last_paymt_dt)
raw_account_70_new['diff_lastpaymt_opened_dt']=raw_account_70_new.last_paymt_dt-raw_account_70_new.opened_dt
raw_account_30_new['diff_lastpaymt_opened_dt']=raw_account_30_new.last_paymt_dt-raw_account_30_new.opened_dt
raw_account_70_new['diff_lastpaymt_opened_dt']=raw_account_70_new.diff_lastpaymt_opened_dt.apply(lambda x: x / np.timedelta64(1,'D'))
raw_account_30_new['diff_lastpaymt_opened_dt']=raw_account_30_new.diff_lastpaymt_opened_dt.apply(lambda x: x / np.timedelta64(1,'D'))
#Fill Na #Cash Limit
raw_account_70_new[['cashlimit']]=raw_account_70_new[['cashlimit']].fillna(value=0)
raw_account_30_new[['cashlimit']]=raw_account_30_new[['cashlimit']].fillna(value=0)
# Fill Na. Credit Limit 
index_70=raw_account_70_new['creditlimit'].index[raw_account_70_new['creditlimit'].apply(np.isnan)]
raw_account_70_new.loc[index_70,'creditlimit']=raw_account_70_new.loc[index_70,'high_credit_amt']

index_30=raw_account_30_new['creditlimit'].index[raw_account_30_new['creditlimit'].apply(np.isnan)]
raw_account_30_new.loc[index_30,'creditlimit']=raw_account_30_new.loc[index_30,'high_credit_amt']

#Group by customer number in accounts dataset
#total_diff_lastpaymt_opened_dt
raw_account_70_new_lastpaymntdate_sum=raw_account_70_new.groupby(['customer_no'],as_index=False,sort=False)[['ind_acc_70','diff_lastpaymt_opened_dt','cur_balance_amt','creditlimit','cashlimit']].sum()
raw_account_30_new_lastpaymntdate_sum=raw_account_30_new.groupby(['customer_no'],as_index=False,sort=False)[['ind_acc_30','diff_lastpaymt_opened_dt','cur_balance_amt','creditlimit','cashlimit']].sum()
#mean
raw_account_70_new_lastpaymntdate_sum['mean_diff_lastpaymt_opened_dt']=raw_account_70_new_lastpaymntdate_sum['diff_lastpaymt_opened_dt']/raw_account_70_new_lastpaymntdate_sum['ind_acc_70']
raw_account_70_new_lastpaymntdate_sum['ratio_currbalance_creditlimit']=raw_account_70_new_lastpaymntdate_sum['cur_balance_amt']/raw_account_70_new_lastpaymntdate_sum['creditlimit']
raw_account_70_new_lastpaymntdate_sum['mean_curr_bal']=raw_account_70_new_lastpaymntdate_sum['cur_balance_amt']/raw_account_70_new_lastpaymntdate_sum['ind_acc_70']
raw_account_70_new_lastpaymntdate_sum['mean_credit_limit']=raw_account_70_new_lastpaymntdate_sum['creditlimit']/raw_account_70_new_lastpaymntdate_sum['ind_acc_70']
raw_account_70_new_lastpaymntdate_sum['mean_cashlimit']=raw_account_70_new_lastpaymntdate_sum['cashlimit']/raw_account_70_new_lastpaymntdate_sum['ind_acc_70']
raw_account_70_new_lastpaymntdate_sum['utilization_trend']=(raw_account_70_new_lastpaymntdate_sum['ratio_currbalance_creditlimit'])/(raw_account_70_new_lastpaymntdate_sum['mean_curr_bal']/(raw_account_70_new_lastpaymntdate_sum['mean_credit_limit']+raw_account_70_new_lastpaymntdate_sum['mean_cashlimit']))



raw_account_30_new_lastpaymntdate_sum['mean_diff_lastpaymt_opened_dt']=raw_account_30_new_lastpaymntdate_sum['diff_lastpaymt_opened_dt']/raw_account_30_new_lastpaymntdate_sum['ind_acc_30']
raw_account_30_new_lastpaymntdate_sum['ratio_currbalance_creditlimit']=raw_account_30_new_lastpaymntdate_sum['cur_balance_amt']/raw_account_30_new_lastpaymntdate_sum['creditlimit']
raw_account_30_new_lastpaymntdate_sum['mean_curr_bal']=raw_account_30_new_lastpaymntdate_sum['cur_balance_amt']/raw_account_30_new_lastpaymntdate_sum['ind_acc_30']
raw_account_30_new_lastpaymntdate_sum['mean_credit_limit']=raw_account_30_new_lastpaymntdate_sum['creditlimit']/raw_account_30_new_lastpaymntdate_sum['ind_acc_30']
raw_account_30_new_lastpaymntdate_sum['mean_cashlimit']=raw_account_30_new_lastpaymntdate_sum['cashlimit']/raw_account_30_new_lastpaymntdate_sum['ind_acc_30']
raw_account_30_new_lastpaymntdate_sum['utilization_trend']=(raw_account_30_new_lastpaymntdate_sum['ratio_currbalance_creditlimit'])/(raw_account_30_new_lastpaymntdate_sum['mean_curr_bal']/(raw_account_30_new_lastpaymntdate_sum['mean_credit_limit']+raw_account_30_new_lastpaymntdate_sum['mean_cashlimit']))

#Merge to demographic data
raw_data_70_new=pd.merge(raw_data_70_new,raw_account_70_new_lastpaymntdate_sum.loc[:,['mean_diff_lastpaymt_opened_dt','ratio_currbalance_creditlimit','mean_curr_bal','mean_credit_limit','mean_cashlimit','utilization_trend']],how='left',on='customer_no')
raw_data_30_new=pd.merge(raw_data_30_new,raw_account_30_new_lastpaymntdate_sum.loc[:,['mean_diff_lastpaymt_opened_dt','ratio_currbalance_creditlimit','mean_curr_bal','mean_credit_limit','mean_cashlimit','utilization_trend']],how='left',on='customer_no')

In [187]:
#Creating Secured and unsecured feature
raw_enquiry_70_new['sec_unsec_loan_ind']=[1 if i in [1,2,3,4,7,11,13,14,15,17,31,32,33,34,42,51,52,53,54,55,56,57,58,59,60] else 0 for i in raw_enquiry_70_new.enq_purpose]
raw_enquiry_30_new['sec_unsec_loan_ind']=[1 if i in [1,2,3,4,7,11,13,14,15,17,31,32,33,34,42,51,52,53,54,55,56,57,58,59,60] else 0 for i in raw_enquiry_30_new.enq_purpose]

In [25]:
#enquiry_recency_365
raw_enquiry_70_new.enquiry_dt=pd.to_datetime(raw_enquiry_70_new.enquiry_dt)
raw_enquiry_70_new.dt_opened=pd.to_datetime(raw_enquiry_70_new.dt_opened)
raw_enquiry_30_new.enquiry_dt=pd.to_datetime(raw_enquiry_30_new.enquiry_dt)
raw_enquiry_30_new.dt_opened=pd.to_datetime(raw_enquiry_30_new.dt_opened)
raw_enquiry_70_new['enquiry_recency']=raw_enquiry_70_new.dt_opened-raw_enquiry_70_new.enquiry_dt
raw_enquiry_30_new['enquiry_recency']=raw_enquiry_30_new.dt_opened-raw_enquiry_30_new.enquiry_dt
raw_enquiry_70_new['enquiry_recency']=raw_enquiry_70_new.enquiry_recency.apply(lambda x: x / np.timedelta64(1,'D'))
raw_enquiry_30_new['enquiry_recency']=raw_enquiry_30_new.enquiry_recency.apply(lambda x: x / np.timedelta64(1,'D'))
raw_enquiry_70_new['count_enquiry_recency_365']=np.where(raw_enquiry_70_new.eval("enquiry_recency >0  and enquiry_recency <= 365"), 1, 0)
raw_enquiry_30_new['count_enquiry_recency_365']=np.where(raw_enquiry_30_new.eval("enquiry_recency >0  and enquiry_recency <= 365"), 1, 0)
raw_enquiry_70_new['count_enquiry_recency_90']=np.where(raw_enquiry_70_new.eval("enquiry_recency >0  and enquiry_recency <= 90"), 1, 0)
raw_enquiry_30_new['count_enquiry_recency_90']=np.where(raw_enquiry_30_new.eval("enquiry_recency >0  and enquiry_recency <= 90"), 1, 0)

#Group by customer number in accounts dataset
raw_enquiry_70_new_count_enquiry_recency_365=raw_enquiry_70_new.groupby(['customer_no'],as_index=False,sort=False)[['ind','enquiry_recency','count_enquiry_recency_365','count_enquiry_recency_90','sec_unsec_loan_ind']].sum()
raw_enquiry_70_new_count_enquiry_recency_365['mean_enquiry_recency']=raw_enquiry_70_new_count_enquiry_recency_365['enquiry_recency']/raw_enquiry_70_new_count_enquiry_recency_365['ind']
raw_enquiry_70_new_count_enquiry_recency_365['perc_unsecured_others']=raw_enquiry_70_new_count_enquiry_recency_365['sec_unsec_loan_ind']/raw_enquiry_70_new_count_enquiry_recency_365['ind']


raw_enquiry_30_new_count_enquiry_recency_365=raw_enquiry_70_new.groupby(['customer_no'],as_index=False,sort=False)[['ind','enquiry_recency','count_enquiry_recency_365','count_enquiry_recency_90','sec_unsec_loan_ind']].sum()
raw_enquiry_30_new_count_enquiry_recency_365['mean_enquiry_recency']=raw_enquiry_30_new_count_enquiry_recency_365['enquiry_recency']/raw_enquiry_30_new_count_enquiry_recency_365['ind']
raw_enquiry_30_new_count_enquiry_recency_365['perc_unsecured_others']=raw_enquiry_30_new_count_enquiry_recency_365['sec_unsec_loan_ind']/raw_enquiry_30_new_count_enquiry_recency_365['ind']


dummy_db=pd.DataFrame(raw_enquiry_70_new.groupby(['customer_no','enq_purpose'],as_index=False,sort=False)[['ind']].count())
dummy_db=dummy_db.sort_values(['customer_no','ind'],ascending=[1,0])
max_enq_purpose=pd.DataFrame(dummy_db.groupby('customer_no',as_index=False)[['enq_purpose']].first())
dummy_db_2=pd.DataFrame({'customer_no':max_enq_purpose['customer_no'],'max_enq_purpose':max_enq_purpose['enq_purpose']})
raw_data_70_new=pd.merge(raw_data_70_new,dummy_db_2,how='left',on='customer_no')

dummy_db=pd.DataFrame(raw_enquiry_30_new.groupby(['customer_no','enq_purpose'],as_index=False,sort=False)[['ind']].count())
dummy_db=dummy_db.sort_values(['customer_no','ind'],ascending=[1,0])
max_enq_purpose=pd.DataFrame(dummy_db.groupby('customer_no',as_index=False)[['enq_purpose']].first())
dummy_db_2=pd.DataFrame({'customer_no':max_enq_purpose['customer_no'],'max_enq_purpose':max_enq_purpose['enq_purpose']})

raw_data_30_new=pd.merge(raw_data_30_new,dummy_db_2,how='left',on='customer_no')





#Merge to demographic data

raw_data_70_new=pd.merge(raw_data_70_new,raw_enquiry_70_new_count_enquiry_recency_365.loc[:,['customer_no','count_enquiry_recency_365','mean_enquiry_recency','count_enquiry_recency_90','perc_unsecured_others']],how='left',on='customer_no')
raw_data_30_new=pd.merge(raw_data_30_new,raw_enquiry_30_new_count_enquiry_recency_365.loc[:,['customer_no','count_enquiry_recency_365','mean_enquiry_recency','count_enquiry_recency_90','perc_unsecured_others']],how='left',on='customer_no')

In [188]:
raw_data_70_new.head(10)

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,diff_lastpaymt_opened_dt,cur_balance_amt,creditlimit,cashlimit,mean_diff_lastpaymt_opened_dt,ratio_currbalance_creditlimit,mean_curr_bal,mean_credit_limit,mean_cashlimit,utilization_trend
0,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,14960.0,4714857,8154008.0,168000.0,831.111111,0.578226,2.619365e+05,4.530004e+05,9333.333333,1.020603
1,21-Apr-15,2,21-Apr-15,Insignia,21-Apr-15,760.0,1.0,Card Setup,14.0,1200000.0,...,4070.0,30754,1117595.0,1.0,2035.000000,0.027518,1.537700e+04,5.587975e+05,0.500000,1.000001
2,22-Apr-15,3,21-Apr-15,Insignia,21-Apr-15,774.0,1.0,Card Setup,14.0,700000.0,...,2454.0,17864,121523.0,0.0,2454.000000,0.147001,1.786400e+04,1.215230e+05,0.000000,1.000000
3,25-Apr-15,4,15-Apr-15,Insignia,20-Apr-15,770.0,1.0,Card Setup,14.0,500000.0,...,38600.0,1845569,12846427.0,361000.0,2270.588235,0.143664,1.085629e+05,7.556722e+05,21235.294118,1.028101
4,6-May-15,5,30-Apr-15,Insignia,NaN,NaN,3.0,Card Setup,14.0,500000.0,...,1357.0,7973,12817505.0,0.0,193.857143,0.000622,1.139000e+03,1.831072e+06,0.000000,1.000000
5,12-May-15,6,6-May-15,Insignia,6-May-15,779.0,1.0,Card Setup,14.0,1000000.0,...,41021.0,23795581,87554315.0,540001.0,1139.472222,0.271781,6.609884e+05,2.432064e+06,15000.027778,1.006168
6,22-May-15,7,6-May-15,Insignia,6-May-15,762.0,1.0,Card Setup,14.0,100000.0,...,15521.0,51154,317039.0,115900.0,2217.285714,0.161349,7.307714e+03,4.529129e+04,16557.142857,1.365570
7,22-May-15,8,15-May-15,Insignia,15-May-15,799.0,1.0,Card Setup,14.0,357000.0,...,26025.0,14029079,20622651.0,249000.0,1735.000000,0.680275,9.352719e+05,1.374843e+06,16600.000000,1.012074
8,28-May-15,9,15-May-15,Insignia,15-May-15,762.0,1.0,Card Setup,14.0,550000.0,...,12636.0,14126636,20131123.0,101001.0,2106.000000,0.701731,2.354439e+06,3.355187e+06,16833.500000,1.005017
9,30-May-15,10,27-May-15,Insignia,27-May-15,784.0,1.0,Card Setup,14.0,1017000.0,...,21912.0,247719,8161342.0,243000.0,1826.000000,0.030353,2.064325e+04,6.801118e+05,20250.000000,1.029775

In [189]:
raw_data_30_new.head(10)

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,diff_lastpaymt_opened_dt,cur_balance_amt,creditlimit,cashlimit,mean_diff_lastpaymt_opened_dt,ratio_currbalance_creditlimit,mean_curr_bal,mean_credit_limit,mean_cashlimit,utilization_trend
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,14207.0,92107267,147846929.0,280500.0,887.937500,0.622991,5.756704e+06,9.240433e+06,17531.250000,1.001897
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,817.0,-76,29017.0,0.0,817.000000,-0.002619,-7.600000e+01,2.901700e+04,0.000000,1.000000
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,17867.0,19327294,41146265.0,518400.0,1624.272727,0.469722,1.757027e+06,3.740570e+06,47127.272727,1.012599
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,35033.0,11408537,40402333.0,1737881.0,1401.320000,0.282373,4.563415e+05,1.616093e+06,69515.240000,1.043014
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,27870.0,46240,910190.0,230000.0,4645.000000,0.050803,7.706667e+03,1.516983e+05,38333.333333,1.252694
5,27-May-15,6,21-May-15,Insignia,21-May-15,601.0,2.0,Card Setup,14.0,500000.0,...,6637.0,33419539,54920332.0,131200.0,1106.166667,0.608509,5.569923e+06,9.153389e+06,21866.666667,1.002389
6,10-Jun-15,7,6-Jun-15,Insignia,6-Jun-15,712.0,1.0,Card Setup,14.0,1000000.0,...,751.0,126017,1225000.0,0.0,375.500000,0.102871,6.300850e+04,6.125000e+05,0.000000,1.000000
7,27-Jun-15,8,24-Jun-15,Insignia,24-Jun-15,620.0,2.0,Card Setup,14.0,1000000.0,...,18975.0,630497,3129589.0,535833.0,1054.166667,0.201463,3.502761e+04,1.738661e+05,29768.500000,1.171215
8,27-Jun-15,9,24-Jun-15,Insignia,24-Jun-15,772.0,1.0,Card Setup,14.0,500000.0,...,4695.0,3700,146529.0,20000.0,521.666667,0.025251,4.111111e+02,1.628100e+04,2222.222222,1.136492
9,4-Jun-15,10,7-May-15,Platinum Maxima,7-May-15,702.0,3.0,Card Setup,14.0,100000.0,...,30649.0,2014732,4336829.0,111650.0,1135.148148,0.464563,7.461970e+04,1.606233e+05,4135.185185,1.025745

# Fill Factor Analysis
- Fill factor analysis is done on dataset to understand the percentage of missing values
- This we will do only on data_70 as it is training dataset. data_30 will be considered as test dataset.Column we

In [190]:
def fill_percentage(dataset,threshold=0.5):
    '''function to calculate fill percentage and 
    return column names with fill percentage above threshold'''
    column_names=list(dataset)
    number_of_rows=dataset.shape[1]
    count=0
    for column in column_names:
        number_of_non_missing_values=number_of_rows-sum(dataset[column].isnull())
        perc_non_missing=number_of_non_missing_values/number_of_rows
        if perc_non_missing>=threshold:
            print("Column"+"-"+column+":"+str(perc_non_missing))
            count=count+1
    print("Total number of columns above threshold"+":"+str(count))

In [198]:
fill_percentage(dataset=raw_data_70_new,threshold=0)

Column-dt_opened:1.0
Column-customer_no:1.0
Column-entry_time:0.85
Column-feature_1:0.85
Column-feature_4:0.85
Column-feature_5:0.85
Column-feature_6:0.85
Column-feature_7:0.85
Column-feature_11:0.85
Column-feature_12:0.85
Column-feature_15:0.77
Column-feature_16:0.73
Column-feature_19:0.85
Column-feature_20:1.0
Column-feature_21:0.85
Column-feature_22:1.0
Column-feature_23:0.85
Column-feature_25:0.85
Column-feature_26:0.85
Column-feature_28:0.85
Column-feature_29:0.85
Column-feature_30:0.85
Column-feature_31:0.85
Column-feature_32:0.85
Column-feature_33:0.85
Column-feature_34:0.85
Column-feature_35:0.85
Column-feature_39:0.85
Column-feature_40:0.85
Column-feature_41:0.85
Column-feature_42:0.85
Column-feature_43:0.85
Column-feature_44:0.85
Column-feature_46:0.06
Column-feature_47:1.0
Column-feature_50:0.85
Column-feature_52:0.85
Column-feature_54:0.85
Column-feature_55:0.85
Column-feature_56:0.85
Column-feature_58:0.85
Column-feature_59:0.85
Column-feature_60:0.85
Column-feature_62:0.85
Column-feature_63:0.85
Column-feature_64:0.85
Column-feature_65:0.85
Column-feature_66:0.85
Column-feature_67:0.85
Column-feature_68:0.85
Column-feature_69:0.85
Column-feature_70:0.85
Column-feature_71:0.85
Column-feature_72:0.85
Column-feature_75:0.85
Column-feature_76:0.85
Column-feature_77:1.0
Column-feature_78:0.85
Column-feature_79:0.85
Column-Bad_label:1.0
Column-rt_pay30_sum:0.27
Column-payment_history_mean_length:1.0
Column-months_last_30_plus:1.0
Column-mean_mon_30p:1.0
Column-current_age_average_r:0.14
Column-current_age_max:1.0
Column-ind:1.0
Column-diff_lastpaymt_opened_dt:0.49
Column-cur_balance_amt:1.0
Column-creditlimit:0.91
Column-cashlimit:1.0
Column-mean_diff_lastpaymt_opened_dt:0.49
Column-ratio_currbalance_creditlimit:0.91
Column-mean_curr_bal:1.0
Column-mean_credit_limit:0.91
Column-mean_cashlimit:1.0
Total number of columns above threshold:76

# Information value Analysis
- Information value is calculated to remove column with very low values

In [ ]:
max_bin = 20
force_bin = 3

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [ ]:
final_iv,IV=data_vars(raw_data_70_new,raw_data_70_new.Bad_label)